<header th:fragment="header" class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <span class="ml-3 text-xl">PayYouPayMe</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900"  th:href="@{/}">Accueil</a>
      <a class="mr-5 hover:text-gray-900"  th:href="@{/me/user/}">Profil</a>
      <a class="mr-5 hover:text-gray-900"  th:href="@{/transfer}">Transfert</a>
      <a class="mr-5 hover:text-gray-900"  th:href="@{/transaction}">Transactions</a>
      <a class="mr-5 hover:text-gray-900" th:href="@{/admin/alldata}">Admin</a>
      <a class="mr-5 hover:text-gray-900" th:href="@{/message}">Message</a>
      <a class="mr-5 hover:text-gray-900" th:href="@{/contact}">Contacts</a>
      <a class="mr-5 hover:text-gray-900" th:href="@{/signup}">S'inscrire</a>
      <a class="mr-5 hover:text-gray-900" th:href="@{/logout}">Logout</a>
    </nav>
  </div>
</header>