<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head">
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <header th:replace="fragments/menu :: header"></header>
    <main>
        <h1 class="text-3xl font-bold text-center mb-4">Admin dashboard</h1>

        <h2 class="text-2xl font-bold text-center mb-4">Toutes les transactions</h2>
        <div class="flex justify-center mb-6">
            <table class="border-collapse border border-gray-400">
                <tr>
                    <th class="border border-gray-300 p-4">Id</th>
                    <th class="border border-gray-300 p-4">Amount</th>
                    <th class="border border-gray-300 p-4">Date</th>
                    <th class="border border-gray-300 p-4">Sender</th>
                    <th class="border border-gray-300 p-4">Receiver</th>
                </tr>
                <tr th:each="transac : ${transactions}" class="border border-gray-300 p-4">
                    <td th:text="${transac.id}" class="border border-gray-300 p-4"></td>
                    <td th:text="${transac.amount}" class="border border-gray-300 p-4"></td>
                    <td th:text="${transac.date}" class="border border-gray-300 p-4"></td>
                    <td th:text="${transac.sender.firstName}" class="border border-gray-300 p-4"></td>
                    <td th:text="${transac.receiver.firstName}" class="border border-gray-300 p-4"></td>
                </tr>
            </table>
        </div>


        <h2 class="text-2xl font-bold text-center mb-4">Tous les messages</h2>
        <div class="flex justify-center">
            <table class="border-collapse border border-gray-400">
                <tr>
                    <th class="border border-gray-300 p-4">id</th>
                    <th class="border border-gray-300 p-4">Content</th>
                    <th class="border border-gray-300 p-4">Date</th>
                    <th class="border border-gray-300 p-4">Utilisateur name</th>
                    <th class="border border-gray-300 p-4">Action</th>
                </tr>
                <tr th:each="message : ${messages}" class="border border-gray-300 p-4">
                    <td th:text="${message.id}" class="border border-gray-300 p-4"></td>
                    <td th:text="${message.content}" class="border border-gray-300 p-4"></td>
                    <td th:text="${message.date}" class="border border-gray-300 p-4"></td>
                    <td th:text="${message.utilisateur.username}" class="border border-gray-300 p-4"></td>
                    <td class="border border-gray-300 p-4">
                        <span th:if="${message.response == null}">
                            <form th:action="@{/admin/replytomessage}" method="POST">
                            <input type="hidden" name="messageId" th:value="${message.id}"/>
                            <input type="text" name="reply"class="w-48 bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"/>
                            <input type="submit" value="Répondre" class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"/>
                        </form>
                        </span>
                        <span th:unless="${message.response == null}" th:text="${message.response}"></span>
                    </td>
                </tr>
            </table>
        </div>

        <h2 class="text-2xl font-bold text-center mb-4">Tous les utilisateurs</h2>
        <div class="flex justify-center mb-6">
            <table class="border-collapse border border-gray-400">
                <tr>
                    <th class="border border-gray-300 p-4">Id</th>
                    <th class="border border-gray-300 p-4">Username</th>
                    <th class="border border-gray-300 p-4">balance</th>
                    <th class="border border-gray-300 p-4">Active</th>
                    <th class="border border-gray-300 p-4">Confirmer</th>
                </tr>
                <tr th:each="utilisateur : ${utilisateurs}" class="border border-gray-300 p-4">
                    <td th:text="${utilisateur.id}" class="border border-gray-300 p-4"></td>
                    <td th:text="${utilisateur.username}" class="border border-gray-300 p-4"></td>
                    <td th:text="${utilisateur.balance}" class="border border-gray-300 p-4"></td>
                    <td class="border border-gray-300 p-4">
                        <span th:if="${utilisateur.active}">
                            <form th:action="@{'/admin/desactiveruser?id=' + ${utilisateur.id}}" method="POST">
                                <input type="submit" value="desactiver" class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">
                            </form>
			            </span>
                        <span th:unless="${utilisateur.active}">
                            Oui
                        </span>
                    </td>
                    <td class="border border-gray-300 p-4 flex justify-center">
                        <span th:if="${utilisateur.blocked}" >
                            <form th:action="@{'/admin/confirmuser?id=' + ${utilisateur.id}}" method="POST">
                                <input type="submit" value="Confirmer" class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">
                            </form>
			            </span>
                        <span th:unless="${utilisateur.blocked}">
                            Oui
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </main>
</body>
</html>